#map {
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 99;
}

.controls {
  margin: 10px 0;
}
.leaflet-container {
  position: relative;
  z-index: 99;
}
.controls button {
  padding: 8px 12px;
  margin-right: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #45a049;
}
.searchWrap {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #eee;
}
.map-section {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #eee;
}
.form-section {
  box-shadow: none;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
.map-section {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
  text-align: center;
  max-height: none;
  min-height: none;
}

.details-con {
}
.details-wrap {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.details-wrap span {
  width: 100%;
  text-align: left;
}
.map-btn-wrap{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0px;
}
.map-btn {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40px;
  cursor: pointer;
}
.map-btn:hover{
  background-color: #baff92;

}
.map-btn img {
  height: 30px;
  width: auto;
}
.plotGrid {
  /* width: 300px;
    height: 300px; */
  /* background-color: #45a049; */
  margin: 1rem;
}

.plot-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 5px;
  text-align: center;
  line-height: 20px;
  color: white;
  font-weight: bold;
}

.available {
  background-color: green;
}

.unavailable {
  background-color: red;
}

#plotGrid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.plot-cell {
  width: 50px;
  /* Adjust width as needed */
  height: 50px;
  /* Adjust height as needed */
  border: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  opacity: 0.6;
}

.plot-cell:hover {
  outline: 3px solid #ccc;
  opacity: 0.8;
}

.plot-box {
  background-color: lightgray;
}

.available {
  background-color: green;
}

.unavailable {
  background-color: red;
}

.highlighted {
  outline: 3px solid #333;
  opacity: 1;

  /* Change this to any color you prefer */
  /* background-color: yellow; */
  /* Optional: change the background when selected */
}
.selection-con {
  /* display: none; */
  margin-top: 10px;
}
.selection-con h3 {
  margin: 0px;
  padding: 0px;
}
.selection-wrap {
  min-width: 300px;
  /* padding: 1rem; */
  /* padding-top: 4rem; */
  background-color: #f4f4f4;
  height: auto;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.empty {
  background-color: white;
  color: #bbb;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 5px;
  text-align: center;
  /* color: white; */
  font-weight: bold;
}
