form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.map-section,
.form-section {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  margin: 10px;
  border: 1px solid #ddd;
}

.map-section {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
  text-align: center;
}

.form-section {
  flex: 2;
  min-width: 300px;
}

.form-section h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  width: 80%;
  text-align: left;
  color: #333;
}

.form-group input,
.form-group select,
.form-group button {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="file"] {
  padding: 5px;
}

.form-group button {
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}

.form-group button:hover {
  background-color: #333;
}

.legend {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.legend span {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.legend span::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
}

.legend .available::before {
  background-color: green;
}

.legend .occupied::before {
  background-color: red;
}

@media (max-width: 768px) {


  .map-section {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
